{% extends 'base.html' %}

{% block head %}
  <style>
  .addButton {
    float: right;
    margin-right: 10%;
    margin-bottom: 5%;
    border-radius: 40px;
    color: black;
    font-weight: bold;
    font-size: 1rem;
  }
  </style>
  
{% endblock head %}

{% block body %}

{%if events %}
{%for event in events %}
<div class="row container mx-auto" style="max-width:100%;">
    <div class="col" style='display:inline-block;'>
      <div class="row g-0" style="">
        <div class="col-md-4">
          <img src='/media/{{event.postor}}' height="400" width="275" style="object-fit: contain; margin: auto" alt="postor">
        </div>
        <div class="col-md-8 my-auto">
          <div class="card-body text-center">
            <h5 class="card-title event-title">{{event.event_title}}</h5>
            <p class="card-text event-desc">{{event.event_description|safe }}</p>
            <a href="/events/EventDetail/{{event.id}}" class="btn btn-primary">Know More</a>
            <a href="{{event.registration_link}}" class="btn btn-success">Register</a>
          </div>
        </div>
      </div>
    </div>
  {%endfor%}
  {%else%}
  <h1>No events right now</h1>
  {%endif%}
</div>

{% if request.session.is_authenticated and request.session.is_priviledged %}
  <div class="addEvent">
    <a href="{% url 'events:add_event' %}" class="btn btn-primary addButton" type="submit">Add Event</a>
  </div>
{% endif %}
{% endblock body %}