{% extends 'base.html' %}
{% block head %}
<style>
    body {
        font-family: 'Corbel';
    }
    .approval-pending {
        border: 2px solid yellow;
        color: yellow;
    }
    .approval-accepted {
        border: 2px solid green;
        color: green;
    }
    .approval-rejected {
        border: 2px solid red;
        color: red;
    }
</style>
{% endblock head %}
{% block body %}
    <div class="container fluid">
        <div class="container approval-pending">
            <h3>Approvals Pending</h3>
        </div>
        <div class="container approval-accepted">
            <h3>Approvals Accepted</h3>
        </div>
        <div class="container approval-rejected">
            <h3>Approvals Rejected</h3>
        </div>
    </div>

{% endblock body %}